{{> parts/header}}
<!-- {{> parts/nav}} -->

<main id="main" class="container">
  <header id="header-main" class="header">
    <div class="header-row">
      <div class="header-row-section">
        <span class="header-row-section-text">Dashboard</span>
      </div>
      <div class="header-row-section header-row-section-spacer"></div>
      <div class="header-row-section">
        <a href="/logout" class="button icon-button"><i class="material-icons">logout</i></a>
      </div>
    </div>
  </header>

  <div class="content">
    <!-- Unsplash -->
    <form id="form-unsplash" action="/data/unsplash" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Unsplash</h2>
      </div>
      <div class="content-cell-row">
        <div class="content-cell-col">
          <div class="input-wrapper">
            <input type="radio" name="unsplashImgSource" id="radio-unsplash-random" value="random"
              {{ unsplash.isRandom }}>
            <label for="radio-unsplash-random" class="input-radio">Show random images</label>
          </div>
          <div class="input-wrapper">
            <input type="radio" name="unsplashImgSource" id="radio-unsplash-keywords" value="keywords"
              {{ unsplash.isKeywords }}>
            <label for="radio-unsplash-keywords" class="input-radio">Show images using keywords</label>
          </div>
        </div>
      </div>
      <div class="content-cell-row">
        <textarea rows="5" type="text" class="input-text" name="unsplashKeywords">{{ unsplash.keywords }}</textarea>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <!-- Reddit Memes -->
    <form id="form-reddit-memes" action="/data/redditMemes" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Reddit Memes</h2>
      </div>
      <div class="content-cell-row">
        <div class="content-cell-col">
          <div class="input-wrapper">
            <label for="select-redditMemes-subName">Meme Source:</label>
            <select name="redditSubName" id="select-redditMemes-subName" class="input-select">
              {{ #redditMemes.subName.all }}
              <option value="{{ id }}" {{ #selected }} selected {{ /selected }}>{{ name }}</option>
              {{ /redditMemes.subName.all }}
            </select>
          </div>
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <!-- Spotify -->
    <form id="form-spotify" action="/data/spotify" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Spotify</h2>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <label for="select-spotify-category">Prefered music category:</label>
          <select name="spotifyCategory" id="select-spotify-category">
            {{ #spotify.categories.all }}
            <option value="{{ id }}" {{ #selected }} selected {{ /selected }}>{{ name }}</option>
            {{ /spotify.categories.all }}
          </select>
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>


    <!-- API Connectors -->
    <!-- Spotify -->
    <div id="auth-spotify" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Spotify</h2>
      </div>
      <div class="content-cell-row">
        <span>User: <a href="{{ spotify.userInfo.external_urls.spotify }}"
            target="_blank">{{ spotify.userInfo.display_name }}</a></span>
      </div>
      <div class="content-cell-row">
        <a href="/auth/spotify" class="button button-primary">Connect</a>
      </div>
    </div>
  </div>
</main>

{{> parts/footer}}