{{> parts/header}}
<!-- {{> parts/nav}} -->

<main id="main" class="container">
  <header id="header-main" class="header">
    <div class="header-row">
      <div class="header-row-section">
        <span class="header-row-section-text">Dashboard</span>
      </div>
      <div class="header-row-section header-row-section-spacer"></div>
      <div class="header-row-section">
        <a href="/logout" class="button icon-button"><i class="material-icons">logout</i></a>
      </div>
    </div>
  </header>

  <div class="content">
    <!-- Preferences -->
    <h1 class="content-heading">Preferences</h1>

    <!-- Image of the day -->
    <form id="form-imageoftheday" action="/data/imageoftheday" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Image Of The Day</h2>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <input type="checkbox" name="imageofthedayProactive" id="check-imageofthedayProactive"
            {{ #imageoftheday.imageofthedayProactive }} checked {{ /imageoftheday.imageofthedayProactive }}>
          <label for="check-imageofthedayProactive" class="input-check">Send images proactively</label>
        </div>
        <div class="input-wrapper">
          <label for="time-imageofthedayProactiveTime">Image Of The Day Time</label>
          <input type="time" class="input-text" name="imageofthedayProactiveTime" id="time-imageofthedayProactiveTime"
            value="{{ imageoftheday.imageofthedayProactiveTime }}" required>
        </div>
      </div>
      <div class="content-cell-row">
        <div class="content-cell-col">
          <div class="input-wrapper">
            <input type="checkbox" name="imageofthedayRandom" id="check-imageoftheday-random"
              {{ #imageoftheday.imageofthedayRandom }} checked {{ /imageoftheday.imageofthedayRandom }}>
            <label for="check-imageoftheday-random" class="input-check">Show random images</label>
          </div>
        </div>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <label for="text-imageofthedayTags">Tags</label>
          <input type="text" class="input-text" name="imageofthedayTags" id="text-imageofthedayTags"
            value="{{ imageoftheday.imageofthedayTags }}">
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <form id="form-dfstatus" action="/api/dfstatus" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Daily Financial Status</h2>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <input type="checkbox" name="dfstatusProactive" id="check-dfstatusProactive" {{ #dfstatus.dfstatusProactive }}
            checked {{ /dfstatus.dfstatusProactive }}>
          <label for="check-dfstatusProactive" class="input-check">Send daily update proactively</label>
        </div>
        <div class="input-wrapper">
          <label for="time-dfstatusProactiveTime">Daily Status Time</label>
          <input type="time" class="input-text" name="dfstatusProactiveTime" id="time-dfstatusProactiveTime"
            value="{{ dfstatus.dfstatusProactiveTime }}" required>
        </div>
      </div>
      <div class="content-cell-row">
        <label for="text-dfstatusCalendarID" class="input-check">Calendar ID</label>
        <input type="text" class="input-text" name="dfstatusCalendarID" id="text-dfstatusCalendarID"
          value="{{ dfstatus.dfstatusCalendarID }}">
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <form id="form-news" action="/api/news" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Daily News Update</h2>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <input type="checkbox" name="newsProactive" id="check-newsProactive" {{ #news.newsProactive }} checked
            {{ /news.newsProactive }}>
          <label for="check-newsProactive" class="input-check">Send daily update proactively</label>
        </div>
        <div class="input-wrapper">
          <label for="time-newsProactiveTime">News Time</label>
          <input type="time" class="input-text" name="newsProactiveTime" id="time-newsProactiveTime"
            value="{{ news.newsProactiveTime }}" required>
        </div>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <label for="text-newsKeywords">Keywords</label>
          <input type="text" class="input-text" name="newsKeywords" id="text-newsKeywords"
            value="{{ news.newsKeywords }}">
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <!-- Reddit Memes -->
    <form id="form-redditMemes" action="/data/redditMemes" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Reddit Memes</h2>
      </div>
      <div class="content-cell-row">
        <div class="content-cell-col">
          <div class="input-wrapper">
            <label for="select-redditMemes-subName">Meme Source:</label>
            <select name="redditMemesSubName" id="select-redditMemes-subName" class="input-select">
              {{ #redditMemes.redditMemesSubName.all }}
              <option value="{{ id }}" {{ #selected }} selected {{ /selected }}>{{ name }}</option>
              {{ /redditMemes.redditMemesSubName.all }}
            </select>
          </div>
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <!-- Spotify -->
    <form id="form-spotify" action="/data/spotify" method="POST" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Spotify</h2>
      </div>
      <div class="content-cell-row">
        <div class="input-wrapper">
          <label for="select-spotify-category">Prefered music category:</label>
          <select name="spotifyCategory" id="select-spotify-category">
            {{ #spotify.spotifyCategory.all }}
            <option value="{{ id }}" {{ #selected }} selected {{ /selected }}>{{ name }}</option>
            {{ /spotify.spotifyCategory.all }}
          </select>
        </div>
      </div>
      <div class="content-cell-row">
        <button class="button button-primary" type="submit">Save</button>
      </div>
    </form>

    <!-- API Connectors -->
    <h1 class="content-heading">Authentication</h1>

    <!-- Spotify -->
    <div id="auth-spotify" class="content-cell">
      <div class="content-cell-row">
        <h2 class="content-cell-heading">Spotify</h2>
      </div>
      {{ #spotify.userInfo }}
      <div class="content-cell-row">
        <span>User: <a href="{{ spotify.userInfo.external_urls.spotify }}"
            target="_blank">{{ spotify.userInfo.display_name }}</a></span>
      </div>
      {{ /spotify.userInfo }}
      {{ ^spotify.userInfo }}
      <div class="content-cell-row">
        <span>Not signed in</span>
      </div>
      <div class="content-cell-row">
        <a href="/auth/spotify" class="button button-primary">Authenticate</a>
      </div>
      {{ /spotify.userInfo }}
    </div>
  </div>
</main>

{{> parts/footer}}