* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  flex: 0 0 auto;
  letter-spacing: 0.1px;
}
*:focus {
  outline: none;
}

:root {
  --color-primary: #5d78ff;
  --color-primary-hover: #3758ff;
  --color-background: #f2f3f8;
  --color-face: #ffffff;
  --color-background-navy: #242939;
  --color-background-navy-dark: #1f2433;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-border-hover: rgba(0, 0, 0, 0.2);

  --color-hover: rgba(0, 0, 0, 0.05);

  --color-font: rgba(0, 0, 0, 0.8);
  --color-font-secondary: rgba(0, 0, 0, 0.5);

  --color-white: #ffffff;

  --box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);

  --metric-border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
  margin: 0 0 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  user-select: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--metric-border-radius);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  justify-content: center;
  padding: 0 16px;
  min-width: 96px;
}
.button:hover {
  background-color: var(--color-hover);
  color: inherit;
  text-decoration: none;
}

.button.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button.button-primary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
}

.icon-button {
  border-radius: 50%;
  height: 40px;
  padding: 0;
  width: 40px;
  min-width: 0;
}
.icon-button .material-icons {
  font-size: 20px;
}

.input-wrapper {
  width: 100%;
}
.input-wrapper > input[type="radio"] {
  display: none;
}

.input-text {
  align-items: center;
  border-radius: var(--metric-border-radius);
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  line-height: 20px;
  padding: 8px 8px;
  width: 100%;
}
.input-text:hover {
  border-color: var(--color-border-hover);
}
.input-text:focus {
  border-color: var(--color-primary);
}

textarea.input-text {
  resize: vertical;
}

.input-radio {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 4px 0;
}

input[type="radio"] + .input-radio::before {
  background-clip: content-box;
  border: 2px solid var(--color-border);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin-right: 4px;
  padding: 2px;
  width: 8px;
}
input[type="radio"]:checked + .input-radio::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  min-height: 56px;
}

.header-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 56px;
  width: 100%;
}

.header-row-section {
  display: flex;
  padding: 0 8px;
}
.header-row-section:first-of-type {
  padding-left: 16px;
}
.header-row-section:last-of-type {
  padding-right: 16px;
}

.header-row-section-text {
  font-size: 20px;
  font-weight: 400;
}

.header-row-section-spacer {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px 0;
}

.nav-list-heading,
.nav-list-item {
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  padding: 0 16px;
}
.nav-list-item:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.nav-list-item-text {
  margin-left: 16px;
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  width: 100%;
}

.content-heading {
  margin: 16px 0;
  width: calc(100% - 16px);
  max-width: 1024px;
}

.content-cell {
  background-color: var(--color-face);
  border-radius: var(--metric-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  padding: 16px;
  width: calc(100% - 16px);
  max-width: 1024px;
}

.content-cell-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
}
.content-cell-row:last-of-type {
  margin-bottom: 0;
}

.content-cell-row {
  display: flex;
  flex-flow: column nowrap;
}

.content-cell-heading {
  margin: 0;
}

#login {
  align-items: center;
  height: 100vh;
  max-height: 512px;
  justify-content: center;
}

#login-form {
  width: 100%;
  max-width: 512px;
}

#sidebar {
  background-color: var(--color-background-navy);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 320px;
}

#header-sidebar {
}

#main {
  align-items: center;
  /* padding-left: 320px; */
  width: 100%;
}

#header-main {
  background-color: var(--color-face);
  box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
}
